@import "../styles/shared";

.invite {
  margin-top: .5rem;
  &__title {
    display: block;
    font-weight: 700;
  }
  &_detail {
    display: block;
    font-size: .8rem;
  }

  &__delete{
    text-decoration: underline;
    margin-bottom: 1rem;
    color: $warningOrange;
    cursor: pointer;
  }

  &_expired {
    color: $red500;
  }
}

.invite:not(:last-child){
    margin-bottom: 1rem;
}
