@import '../styles/shared';

.show_hide_button {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.0);
}
.show_hide_button:hover {
  background-color: rgba(0, 0, 0, 0.0);
}
