@import "../styles/shared";

.template_list {
  margin-top: 2rem;
  margin-left: 0;
}
.template_name {
  font-style: italic;
}

.view {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
